@model BugBuddy.Models.Bug

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" onsubmit="return handleFormSubmission()">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                </select>

                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolution" class="control-label"></label>
                <input asp-for="Resolution" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    <script>
        function handleFormSubmission() {
            var resolution = document.getElementById("Resolution").value;
            var status = document.getElementById("Status");

            if (resolution.trim() !== "") {
                // If resolution is entered, set status to "Closed"
                status.value = "Closed";
            }

            // Continue with the form submission
            return true;
        }
    </script>
}